# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# IDE
.vscode/
.idea/

# Project specific
*.zip
*.json
backend/payload.json
backend/error.json
backend/error_check.json
backend/error_check_mini.json
